{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Infonas Email Signature</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{% static 'signature/js/jquery.validate.js' %}"></script>
<script src="{% static 'signature/js/jquery.placeholder.js' %}"></script>
<script src="{% static 'signature/js/jquery.form.js' %}"></script>
<link rel="stylesheet" href="{% static 'signature/css/style.css' %}">

<style>

  .download_link {
    background-color: #ff9e00;
    border: medium none;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    margin: 15px 0 0 90px;
    padding: 5px 15px;
  }

  .download_label {
    display: block;
    font-size: 13px;
    color: #666;
    margin-top: 10px;
    font-weight: bold;
  }

</style>


<script>
$(function(){
$('#contact').validate({
submitHandler: function(form) {
    $(form).ajaxSubmit({
    url: '/signature/generate-signature/',
    success: function(data) {
      $user_link = '/signature/download-signature/?user_id='+data.user_id;
      //$('#contact').hide();
      $('#sign').empty();
      $('#sign_down').empty();
      //$('#sign').append('<label for="name">Preview</label>');
      $('#sign').append(data.user_sign);
      $('#sign_down').append('<a target="_blank" class="download_link" href="'+$user_link+'" download> Download Signature</a>');
      $('#sign_down').append('<br /><br /><span class="download_label"> Download & Place the signature file in "C:\\Users\\\{\{YOUR USERNAME\}\}\\AppData\\Roaming\\Microsoft\\Signatures\\" </span>');
    }
    });
    }
});         
});
</script>
</head>

<body>

<div id="contact-form">	

<form id="contact" method="post" action="">{% csrf_token %}
<fieldset>	

<label for="name">Name</label>
<input type="text" name="name" placeholder="Full Name" title="Enter your name" class="required">

<label for="title">Title</label>
<input type="text" name="title" placeholder="ex. IT Manager" title="Enter your title" class="required">

<label for="email">E-mail</label>
<input type="email" name="email" placeholder="yourname@domain.com" title="Enter your e-mail address" class="required email">

<label for="mobile">Mobile</label>
<input type="tel" name="mobile" placeholder="ex. 36567543" title="Enter your mobile no.">

<label for="phone">Phone</label>
<input type="tel" name="phone" placeholder="ex. 16500100" title="Enter your office no." class="required">

<label for="floor">Floor</label>
<input type="text" name="floor" placeholder="ex. 12" title="Enter your floor" class="required">

<label for="greeting">Greetings</label>
<input type="text" name="greeting" placeholder="ex. Thanks and Regards" title="Enter your prefered greetings">

<!--
<label for="website">Website</label>
<input type="url" name="url" placeholder="http://">

<label for="message">Question/Comment</label>
<textarea name="message"></textarea>
-->


<input type="submit" name="submit" class="button" id="submit" value="Generate Signature" />
</fieldset>
</form>
<br />
<br />
<div align="center" style="clear:both"><div style="padding:10px; width:800px;" id="sign"></div></div>
<div align="center" style="clear:both" id="sign_down"></div>


</div><!-- /end #contact-form -->

<script src="{% static 'signature/js/modernizr-min.js' %}"></script>
<script>
if (!Modernizr.input.placeholder){
      $('input[placeholder], textarea[placeholder]').placeholder();
}
</script>
</body>
</html>
