<style>
@font-face {
    font-family: FSAlbert-Bold;
    src: url('FSAlbert-Bold.otf');
}
@font-face {
    font-family: FSAlbert-Regular;
    src: url('FSAlbert-Regular.otf');
}


</style>

<table width="1200" align="center" border="0">
	<tr>
		<td style="padding: 1%;border-right: 1px solid #3baf29;" width="350">
			<a href="http://www.infonas.com/">
				<img width="200" height="50" src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_logo.jpg" />
			</a>
		</td>
		<td style="padding-left: 10px;">
			<table border="0" width="600">
				<tr>
					<td width="400">
						<div  style="font-family:FSAlbert-Regular;font-size: 30px;">Binny Abraham</div>
					</td>
					<td width="200">
						<div align="right" style="margin-right: 20px;">
							<a href="https://www.instagram.com/infonas_brn/"><img width="40" height="40" src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_instagram_icon.png" /></a>
							<a href="https://twitter.com/Infonas_brn"><img  width="40" height="40"src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_twitter_icon.png" /></a>
							<a href="#"><img  width="40" height="40" src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_linkedin_icon.png" /></a>
							
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div style="font-family: FSAlbert-Regular;font-size: 20px;">
							Developer
						</div>
					</td>
					
				</tr>
				<tr>
					<td colspan="2">
						<div style=" margin-top: 25px;font-family: FSAlbert-Bold;">
							Office:&nbsp;<span class="office-phone">+973 16 500 136</span>
							&nbsp;.&nbsp;Fax:&nbsp;<span class="fax">+973 16 500 109</span>
							&nbsp;.&nbsp;Mobile:&nbsp;<span class="mobile">+973 36 423 793</span>
							<br>
							<span class="floor">20</span>th&nbsp;Floor, NBB Tower, Government Avenue Manama, Kingdom of Bahrain.
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>

