
<div style="font-family: Calibri" align="left">Thanks and Regards</div>

<table width="100%" align="left" border="0">
 <tr>
  <td style="padding:1%; border-right: 0px;" width="100%">
  <table width="800" align="left" border="0">
   <tr>
    <td style="padding:1%; border-right: 1px solid #3baf29;" width="150">
      <a href="http://www.infonas.com/">
        <img width="200" height="50" src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_logo.jpg" />
      </a>
    </td>

    <td width="500" style="padding-left: 10px;">
      <div style="font-family:Calibri;font-size: 18px;">Ahmed Marhoon</div>
      <div style="font-family: Calibri;font-size: 14px;">Accountant</div>
      <div style="  font-size:12px; margin-top: 10px;font-family: Calibri ;">
        Office:&nbsp;<span class="office-phone">+973 16 500 175</span>
	&nbsp;.&nbsp;Fax:&nbsp;<span class="fax">+973 16 500 109</span>
        
	<br>
	<span class="floor">20</span>th&nbsp;Floor, NBB Tower, Government Avenue, Manama, Kingdom of Bahrain.
      </div>
    </td>

    <td valign="top" width="150">
      <div align="right" style="margin-right: 20px;">
        <a href="https://www.instagram.com/infonas_brn/"><img style="margin-left:5px;" width="20" height="20" src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_instagram_icon.png" /></a>
        &nbsp;<a href="https://twitter.com/Infonas_brn"><img style="margin-left:5px;" width="20" height="20"src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_twitter_icon.png" /></a>
        &nbsp;<a href="https://www.linkedin.com/company/infonas-bahrain?trk=company_logo"><img style="margin-left:5px;" width="20" height="20" src="http://www.infonas.com/wp-content/uploads/2016/06/infonas_signature_linkedin_icon.png"/></a>
      </div>
    </td>

   </tr>
  </table>
  </td>
 </tr>
</table>
